<!doctype html>
<html lang="en">
    {% include 'head.njk' %}
    <body onload="renderHello()">

        {% include 'nav.njk' %}
       
        {% include 'main2.njk' %}

        {% include 'footer.njk' %}

        {% include 'modal.njk' %}

        {% include 'javascript.njk' %}
    </body>
</html>
